In [9]:
a = "Python"

In [10]:
PYTHON
012345
-6-5-4-3-2-1

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (1066566969.py, line 2)

In [33]:
len(a)

6

In [ ]:
a[0]

In [ ]:
a[3]

In [ ]:
a[0:3]

In [34]:
str = "Welcome to the second day of the python class"

print(str[0:4])
print(str[5:10])
print(str[:])
print(str[7:13:2])
print(str[-1])
print(str[-8:-3])
print(str[7:2:-1])
print(str[::-1])

Welc
me to
Welcome to the second day of the python class
 ot
s
on cl
 emoc
ssalc nohtyp eht fo yad dnoces eht ot emocleW

In [35]:
str = input("Enter a string")
if str[:].lower() == str[::-1].lower():
    print("The given string is a Palindrome")
else:
    print("Please try again")

Please try again

In [36]:
str = "i aM a Python proGrammer"

print(str.upper())
print(str.lower())
print(str.title())
print(str.capitalize())
print(str.casefold())
print(str.swapcase())

I AM A PYTHON PROGRAMMER
i am a python programmer
I Am A Python Programmer
I am a python programmer
i am a python programmer
I Am A pYTHON PROgRAMMER

In [37]:
str = "V#ika#s"
str1 = " Sachin "
str2 = " Virat"
str3 = "Rohit "
str4 = "Vikas Gopalakrishnan"

print(str.replace('#',''))
print(str1.strip())
print(str2.lstrip())
print(str3.rstrip())
print(str4.split(' '))

Vikas
Sachin
Virat
Rohit
['Vikas', 'Gopalakrishnan']

In [ ]:
str = 'Tendulkar took up cricket \tat the of eleven, \nmade his Test match debut on 15 November 1989 against Pakistan \nin Karachi at the age of sixteen, \nand went on to represent Mumbai domestically \nand India internationally for over 24 years. \nIn 2002, halfway through his career'
print(str)

In [38]:
print(str.replace(',', ''))

V#ika#s

In [39]:
print(str.lower())

v#ika#s

In [ ]:
print("Vikas", "Python", "programming")

In [40]:
print('vikas')

vikas

In [ ]:
print("This LPU's classroom")

In [41]:
print("""'Like it is said, "to err is human, to forgive is divine'""")

'Like it is said, "to err is human, to forgive is divine'

In [ ]:
sales = 200000
month = "October"
print("The sales value for the month of {} is Rs.{}".format(month, sales))

In [42]:
print(f'The sales value for the month of {month} is Rs.{sales}')

NameError: name 'month' is not defined

In [ ]:
dir = "G"
subdir = "LPU"
f'{dir}:/{subdir}'

In [ ]:
x = 0
while(x<10):
    print(x)
    x = x+1
    if(x == 5):
        break

In [ ]:
x = 0
while(x<=100):
    print(x)
    x+= 1

    if (x = 15):
        continue
    if(x==30): 
        break

In [ ]:
x = 20
if(x<20):
    print("something")
else:
    print("something else")

In [ ]:
marks = int(input("marks"))

if((marks<100) and (marks>=80)):
    print("Grade A")
elif((marks<80) and (marks>=60)):
    print("Grade B")
elif((marks<60) and (marks>=40)):
    print("Grade C")
else:
    print("Fail")

In [ ]:
#Write a Python Program to Check if a Number is Positive, Negative or Zeronu

num = int(input("enter num"))
if num>0:
    print("positive")
elif num == 0:
    print("Zero")
else:
    print("negative")

In [53]:
#Write a Python Program to Check Prime Number.

prime_nums = []

for num in (range(1,100)):
    for i in (range(2,num)):
        if num%i==0:
            flag = True
            break

    if flag == False:
        prime_num.append[num]
        
print(prime_nums)

[]

In [ ]:
#Write a Python Program to Check Leap Year

year = int(input("Enter a Year"))
if((year%4 == 0) and (year%100 != 0)) or (year%400 == 0):
    print(f'{year} is a Leap Year')
else:
    print(f'{year} is not a Leap Year')

In [10]:
#Write a Python Program to Check Armstrong Number?

for num in (range(10000)):
    strnum = str(num)
    pow = len(strnum)
    sum = 0
    for i in (range(len(strnum)-1)):
        sum += int(strnum[i])**pow
    if(sum == int(strnum)):
        print(int(strnum))

0
370
6688

In [ ]:
#write a program to find all divisors for a given number

num = int(input("Enter a number"))

for i in (range(2,num)):
    if num%i==0:
        print(i)

In [60]:
str = "abcdefghijklmnopqrstuvwxyz"
#o/p 
#list['abc','bcd','cde',....]

output = []
for i in range(len(str)-2):
    output.append(str[i:i+3])
    
print(output)

['abc', 'bcd', 'cde', 'def', 'efg', 'fgh', 'ghi', 'hij', 'ijk', 'jkl', 'klm', 'lmn', 'mno', 'nop', 'opq', 'pqr', 'qrs', 'rst', 'stu', 'tuv', 'uvw', 'vwx', 'wxy', 'xyz']

In [ ]:
#Write a python program to find the LCM?
num1 = int(input("Num1"))
num2 = int(input("Num2"))

greater = 0
if num1>num2:
    greater = num1
else:
    greater = num2

while(True):
    if (greater%num1 == 0) and (greater%num2 == 0):
        lcm = greater
        break
    greater += 1
print(f'LCM for {num1} and {num
2} is {lcm}')

LCM for 3 and 4 is 12

In [6]:
#Write a python program to find the HCF?
num1 = int(input("Num1"))
num2 = int(input("Num2"))

smaller = 0
if num1<num2:
    smaller = num1
else:
    smaller = num2
for i in range(1, smaller+1):
    if(smaller%i == 0):
        hcf = i
        
print(f'HCF for {num1} and {num2} is {hcf}')

HCF for 4 and 5 is 4

In [7]:
#Write a code to find the the sum of cubes of n natural numbers
count = int(input("How many"))
sum = 0
for i in range(1, count+1):
    sum += i**3

print(sum)

44100

In [ ]:
https://www.hackerrank.com/domains/python