In [1]:
def add(*num):
	
	z = num[0]+num[1]+num[2]
	print("Addition:", z, num[3])
	
add(5, 2, 4, "zing")

Addition: 11 zing

In [2]:
def add(x, *num):
	z = x+num[0]+num[1]
	print("Addition:", z)
	
add(5, 2, 4)

Addition: 11

FUNCTIONS

In [3]:
def myfirstfunc(y,x=4):
    sum = x+y
    return sum

In [4]:
myfirstfunc(y=6)

10

In [5]:
def disp():
	name = "Techtuts"
	print("Welcome to", name)

# Calling Function as many time as we need
disp()

Welcome to Techtuts

In [6]:
def disp():
	def show():
		print("Show Function")
	print("Disp Function")
	show()

disp()

Disp Function
Show Function

In [7]:
def disp():
	def show():
		return "Show Function "
	result = show() + "Disp Function"
	return result
print(disp())

Show Function Disp Function

In [8]:
def disp(sh):
	print(type(sh))
	print("Disp Function" + sh())
	
def show():
	return " Show Function"

disp(show)

<class 'function'>
Disp Function Show Function

In [9]:
def disp():
	def show():
		return "Show Function"
	print("Disp Function")
	return show

r_sh = disp()
print(r_sh())

Disp Function
Show Function

In [10]:
def func(*num):
    sum = num[0]+num[1]+num[2]
    return sum

func(2,3,4)

9

In [11]:
def func(**num):
    sum = num['a']+num['b']+num['c']
    return sum

func(a=6,b=3,c=4)

13

In [12]:
def func2(*num1, **num2):
    sum = num1[0]+num1[1]+num2['a']+num2['b']+num2['c']
    return sum

func2(4,7,a=6,b=8,c=9)

34

In [13]:
def plus(x,y):
    sum = x+y
    return sum

def minus(c,d):
    diff = c-d
    return diff

def func3(a,b):
    frm1 = plus(a,b)/minus(a,b)
    return frm1

func3(a=65,b=66)

-131.0

In [15]:
def fun(x):
    sum = x+x
    return sum

print(x)

NameError: name 'x' is not defined

In [18]:
a = 50
def show():
	x = 10		# Local Variable
	print(x)	# Accessing Local Variable inside Function
	print(a)	# Accessing Global Variable inside Function
show()
# Accessing Global Variable outside Function
print("Global Variable A:",a)	

# Accessing Local Variable outside Function, show error
#print("Global Variable X:",x)

10
50
Global Variable A: 50

In [ ]:
i = 0
def myfun():
	global i
	i+=1
	print("My Function", i)
	myfun()
 
myfun()

TabError: inconsistent use of tabs and spaces in indentation (<string>, line 7)

In [24]:
def fact(n):
	if n == 0:
		return 1
	return n * fact(n-1)
	
print(fact(10))

3628800

In [31]:
def isPrime(x):
    for i in (range(2,x)):
        if x%i==0:
            return f"{x} is not prime"
            break
        
        else:
            return f"{x} is a prime number"

isPrime(x=7)

'7 is a prime number'

In [35]:
def fibo(n):
    if n<= 1:
        return n
    else :
        return(fibo(n-1)+fibo(n-2))

nterms = int(input("Number"))

print("fibonacci series")
for i in range(nterms):
    print(fibo(i))

fibonacci series
0
1
1
2
3
5
8
13
21
34

In [ ]:
def armstrongnum(a):
    stra = str(a)
    power = len(stra)
    sum = 0
    for i in range(len(stra)-1):
        sum += int(stra[i])**power
    
    if sum == a:
        return f'{a} is an Armstrong number'
    else:
        return f'{a} is not an Armstrong number'

In [41]:
armstrongnum(370)

'370 is an Armstrong number'

In [ ]:
hackerrank.com/domains/python